@page
@model CadastrarModel
@{
}

<h2>Cadastrar</h2>

<form>
    Nome: <input type="text" name="Nome" value="@Model.Usuario.Nome"/>
    <br /><br />
    Senha: <input type="password" name="Senha" />
    <br /><br />
    <button>Enviar</button>
</form>