@page
@model CadastrarModel
@{
}


<div class="container">
    <h2>Cadastrar</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" onsubmit="return valida()">
        <div class="form-group">
            <label asp-for="Usuario.Nome">Nome</label>
            <input type="text" class="form-control" asp-for="Usuario.Nome" placeholder="Nome" />
            <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Email">E-mail</label>
            <input type="text" class="form-control" asp-for="Usuario.Email" placeholder="Email" />
            <span asp-validation-for="Usuario.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="Usuario.Cpf" placeholder="CPF" value="@Model.Usuario.Cpf" />
            <span asp-validation-for="Usuario.Cpf" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="datanascimento">Data Nascimento</label>
            <input type="date" class="form-control" id="datanascimento" name="Usuario.DataNascimento" placeholder="Data Nascimento" value="@Model.Usuario.DataNascimento" />
        </div>
        <div class="form-group">
            <label>CEP</label>
            <input type="number" name="Cep" id="Cep" class="form-control" placeholder="CEP" />
            <button class="btn btn-primary" type="button" onclick="buscaEndereco()">Buscar</button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body" id="ender">
                    texto qualquer
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Endereço</label>
                <input type="text" name="usuario.Logradouro" id="logradouro" class="form-control" />
            </div>
            <div class="form-group">
                <label>Numero</label>
                <input type="text" name="usuario.Numero" class="form-control" />
            </div>
            <div class="form-group">
                <label>Complemento</label>
                <input type="text" name="usuario.Complemento" class="form-control" />
            </div>
            <div class="form-group">
                <label>Bairro</label>
                <input type="text" name="usuario.Bairro" id="bairro" class="form-control" />
            </div>
            <div class="form-group">
                <label>Cidade</label>
                <input type="text" name="usuario.Cidade" id="cidade" class="form-control" />
            </div>
            <div class="form-group">
                <label>UF</label>
                <input type="text" name="usuario.Uf" id="uf" class="form-control" />
            </div>          
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="Usuario.Senha" placeholder="Senha" value="@Model.Usuario.Senha" />
        </div>
        <div class="form-group">
            <label for="confirma_senha">Confirma Senha</label>
            <input type="password" class="form-control" id="confirma_senha" placeholder="Senha" />
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<script>
    function buscaEndereco() {
        let cep = document.querySelector("#Cep");
        $.getJSON("https://viacep.com.br/ws/" + cep.value + "/json/",
            function (resp) {
                if (resp.erro) {
                    // cep não encontrado
                    document.querySelector("#ender").innerHTML="Cep não encontrado";
                } else {
                    // preenche os campos do endereço
                    document.querySelector("#logradouro").value = resp.logradouro;
                    document.querySelector("#bairro").value = resp.bairro;
                    document.querySelector("#cidade").value = resp.localidade;
                    document.querySelector("#uf").value = resp.uf;
                }
            });
    }

    function valida(){
        let senha = document.getElementById("senha");
        let confirmacao = document.getElementById('confirma_senha');

        if(senha.value.length < 4){
            alert("A senha deve conter no mínimo 4 caracteres.");
            return false
        }

        if(senha.value != confirmacao.value){
            alert('A senha e a confirmação devem ser iguais.');
            return false;
        }
        return true;
    }

</script>